<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <br>
      <% include ../static/partials/messages.ejs %>
      <div class="card">
        <div class="card-header">
          <div style="display: flex; align-items:center">
              <% if(currentUser) { %>
                <% include ../votes/voting.ejs %>
              <% } %>
            <h5 class="card-title" style="padding-right: 20px;">
              <%= post.title %>
            </h5>
            <span
              class="badge badge-pill badge-<%= post.flair ? post.flair.color : "secondary" %>"><%= post.flair ? post.flair.name : "..." %></span>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text"><%= post.body %></p>
        </div>
        <div class="card-footer">
          <% if(currentUser) { %>
          <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
          <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/<%= locals.flair ? `flair/${flair.id}/edit`:"flair/new" %>" class="btn btn-outline-info"><%= locals.flair ? "Edit flair":"Add flair" %></a>
          <% include ../favorites/favoriting.ejs %>
          <% } %>
        </div>
      </div>
      <br>
      <section id="comment-form">

        <!-- #1 -->
        <% if(currentUser) { %>
        <% include ../comments/new.ejs %>
        <% } %>
      </section>

      <!-- #2 -->
      <section id="comment-list">
        <% if(post.comments) { %>
        <% post.comments.forEach((comment) => { %>

        <!-- #3 -->
        <%- include("../comments/show.ejs", {comment}) %>
        <% }) %>
        <% } %>
      </section>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>